<header id="header">
    
    <nav class="header_nav">
        <div class="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar-menu">
            {# <li><a href="{{path('app_blog')}}">Revenir au blog</a></li> #}
            {% if  app.user  %}
                <li class="first-li"> <span class="header_loged_user"> <i class="fa-regular fa-user"></i> : {{app.user.name }}</span> </li>
                <li class="second-li"> <a href="{{path('app_logout')}}">Se déconnecter</a> </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="last-li"> <a href="{{ path('app_admin_article') }}">Pannel Admin</a> </li>
                {% endif %}
                {% else %}
                    <li class="first-li"> <a href="{{path('app_register_home')}}">Créer un compte</a> </li>
                    <li class="second-li"> <a href="{{path('app_login')}}">Se connecter</a> </li>
            {% endif %}

        </ul> 
    </nav>
    
        <div class="header_center">
            <a href="{{path('app_blog')}}"> <div class="header_logo"></div> 
                <div class="header_center_title">
                    <p>Project.</p>
                    <p>Harvendore</p>
                </div>
            </a>
            <ul class="header_center_p">
                <li> <i class="fa-brands fa-tiktok logo_brand lb1"></i> </li>
                <li> <i class="fa-brands fa-youtube logo_brand lb2"></i> </li>
                <li> <i class="fa-brands fa-twitch logo_brand lb3"></i> </li>
            </ul>
            </p>
            <div class="header_lines">
            </div>
        </div>

        

    {% if  app.user  %}
        
    {% endif %}
</header>