{% extends 'base.html.twig' %}

{% block title %} Harvendore blog : {{article.title}} {% endblock %}

{% block body %}

<article class="article_container">
    <a href="{{ path('app_blog') }}" class="article_link">
        <p>Revenir à tous les articles</p>
    </a>
    <p class="blog_article_content_title"> {{ article.title }} </p>

    <div class="blog_article_content_datelike">
        <p class="bacdl_ad"> {{article.createDate|date('d-m-Y')}} </p> 
        {% if not app.user %}
            <a href="" class="likeIcon"><p><i class="fa-solid fa-thumbs-up logo_heart_liked likeIcon"></i> {{ article.likes }} likes</p></a>
        {% endif %}
        {% if app.user %}
            {% if not hasLiked %}
                <form id="voteForm" action="{{ path('app_article_vote') }}" method="POST">
                    <input type="hidden" value="like" name="value">
                    <input type="hidden" value="{{ article.id }}" name="idArticle">
                    <button type="button" class="likeIcon button-reset" onclick="submitForm()">
                        <i class="fa-solid fa-thumbs-up logo_heart likeIcon"></i> {{ article.likes }} likes
                    </button>
                </form>
            {% else %}
                <a href="" class="likeIcon"><p><i class="fa-solid fa-thumbs-up logo_heart_liked likeIcon"></i> {{ article.likes }} likes</p></a>
            {% endif %}
        {% endif %}
    </div>
    
    
    <div class="blog_article_img">
        <div class="blog_article_img_border"></div>
        {% if article.img %}
            <img class="blog_img" src="{{ asset('uploadDirectory/' ~ article.img) }}" alt="{{ article.title }}" >
        {% else %}
            <img class="blog_img" src="{{ asset('assets/img/questionmarkcake.jpg')}}" alt="Image générique" >
        {% endif %}
    </div>
    
    <article class="article_content_text_container">
        <p class="article_content_text"> {{article.articleText}} </p>
    </article>

    <div class="article_comment">
        <p class="article_comment_title">Espace commentaires</p>
    {% if comments is not empty %}
        {% for comment in comments %}
            <div class="article_comment_container">
                <div class="article_comment_container_bis">
                    <p class="accb">Posté par {{ comment.user.name }} le {{ comment.createDate|date('d-m-Y')}} à {{ comment.createDate|date('H:i') }}</p>
                    {% if comment.user == app.user %}
                        <a href="{{ path('app_comment_delete', {'id': comment.id}) }}" class="article_comment_btn_delete">Supprimer</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_comment_moderation_admin', {'id': comment.id}) }}" class="article_comment_btn_moderate">Modérer</a>
                    {% endif %}
                </div>
                <p>{{ comment.commentText }}</p>
            </div>
        {% endfor %}
        {% else %}
            <p>Pas encore de commentaires pour cet article.</p>
        {% endif %}
    </div>   

    <section class="article_comment_form">
        {% if app.user %}
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            <button type="submit">Ajouter votre commentaire</button>
            {{ form_end(commentForm) }}
        {% else %}
            <p>Connectez-vous pour pouvoir ajouter un commentaire</p>
        {% endif %}
    </section>
    
</article>
{% endblock %}








    {# {% if app.user %}
        <form id="voteForm" action="{{ path('app_article_vote') }}" method="POST">
            <input type="hidden" value="like" name="value">
            <input type="hidden" value="{{ article.id }}" name="idArticle">
            <button type="button" class="likeIcon button-reset" onclick="submitForm()">
                <i class="fa-solid fa-thumbs-up logo_heart_liked likeIcon"></i> {{ article.likes }} likes
            </button>
        </form>
        <form action="{{path('app_article_vote')}}" method="POST">
            <input type="hidden" value="dislike" name="value">
            <input type="hidden" value="{{article.id}}" name="idArticle">
            <input type="submit" value="dislike">
        </form>

    {% endif %} #}

        {# <form id="voteForm" action="{{ path('app_article_vote') }}" method="POST">
            <input type="hidden" value="like" name="value">
            <input type="hidden" value="{{ article.id }}" name="idArticle">
            <button type="button" class="likeIcon button-reset" onclick="submitForm()">
                <i class="fa-solid fa-thumbs-up logo_heart_liked likeIcon"></i> {{ article.likes }} likes
            </button>
        </form>
        <form id="voteForm" action="{{path('app_article_vote')}}" method="POST">
            <input type="hidden" value="like" name="value">
            <input type="hidden" value="{{article.id}}" name="idArticle">
            <input type="submit" value="like">
        </form> #}
        